{% extends "base.html" %}
{% block title %} <title>Adicionar Atuador</title> {% endblock %}
{%block content%}
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" /> 
<body>
    <div class="container">
        <div class="fundo">
            <h2>Cadastrar Atuador</h2>
            <form action = "http://localhost:8080/atuador_adicionar" method = "post">
                <div class="input-box">
                    <p><input type = "text" name = "nome" placeholder="nome" required/></p>
                </div>
                <div class="input-box">
                    <p><input type = "text" name = "marca" placeholder="marca"/></p>
                </div>
                <div class="input-box">
                    <p><input type = "text" name = "modelo" placeholder="modelo"/></p>
                </div>
                <div class="check-box">
                    <p><input type = "checkbox" name = "status"required/></p>
                </div>
                <p><input type = "submit" value = "Cadastrar" /></p>
            </form>
        </div>
    </div>
</body>
{%endblock%}