{% extends "base.html" %}
{% block title %} <title>Alterar Atuadores</title> {% endblock %}
{%block content%}
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" />  
<div class="container">
    <div class="fundo">
        <h2>Alterar Atuadores</h2>
        <form action = "http://localhost:8080/atuador_atualizar" method = "post">
            {%for atuador in atuadores%}
            <p>id:</p>
            <p class="input-box"><input type = "text" name = "id" value= "{{atuador.id}}" readonly/></p>
            <p>Nome:</p>
            <p class="input-box"><input type = "text" name = "nome" value= "{{atuador.nome}}" required/></p>
            <p>Marca:</p>
            <p class="input-box"><input type = "text" name = "marca" value='{{atuador.marca}}'/></p>
            <p>Modelo:</p>
            <p class="input-box"><input type = "text" name = "modelo" value='{{atuador.modelo}}'/></p>
            <p>Unidade de Medida:</p>
            <p class="input-box"><input type = "text" name = "unidade" value='{{atuador.unidade}}'/></p>
            <p>Tópico MQTT:</p>
            <p class="input-box"><input type = "text" name = "topico" value='{{atuador.topico}}' required/></p>
            <div>
                {% if atuador.status == true %}
                    <input type="checkbox" id="status" name="status" checked />
                {% else%}
                    <input type="checkbox" id="status" name="status" unchecked />
                {%endif%}
                <label for="status">Ativo?</label>
                <p><input type = "submit" value = "Alterar" /></p>
            </div>
        {%endfor%}
        </form>
    </div>
</div>
{%endblock%}