<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="static/CSS/bases.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/user_listar">Listar Usuários</a></li>
            <li><a href="/user_cadastrar">Cadastrar Usuários</a></li>
            <li><a href="/sensor_listar">Listar Sensores</a></li>
            <li><a href="/sensor_cadastrar">Cadastrar Sensores</a></li>
            <li><a href="/atuador_listar">Listar Atuadores</a></li>
            <li><a href="/atuador_cadastrar">Cadastrar Atuadores</a></li>
            <li><a href="/tempo_real">Tempo Real</a></li>
            <li><a href="/comando_remoto">Comando Remoto</a></li>
            <li><a href="/dados_historicos">Dados Históricos</a></li>
			<li><a href="/comandos_historicos">Comandos Históricos</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
<footer>

</footer>
</html>