<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="static/CSS/bases.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/user_home">Home</a></li>
            <li><a href="/sensor_listar_user">Listar Sensores</a></li>
            <li><a href="/atuador_listar_user">Listar Atuadores</a></li>
            <li><a href="/tempo_real_user">Tempo Real</a></li>
            <li><a href="/comando_remoto_user">Comando Remoto</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
<footer>

</footer>
</html>
