{% extends "base2.html" %}
{% block title %} 
<title>Comando Remoto</title> 
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" /> 
<script>
    function handleClick(id) {
        var topic = "Xp.Barragem/receber";
        var data = {};
        
        // Obtém o valor atual do input de texto
        var servoValue = parseInt($("input[name='valor Servo']").val());
        var emergenciaValue = parseInt($("input[name='valor Emergencia']").val());

        if (id === "Servo Motor") {
            servoValue = servoValue === 0 ? 1 : 0; // Inverte o valor
            $("input[name='valor Servo']").val(servoValue); // Atualiza o valor do input
            data = { "Servo Motor": servoValue };
        } else if (id === "Estado de Emergência") {
            emergenciaValue = emergenciaValue === 0 ? 1 : 0; // Inverte o valor
            $("input[name='valor Emergencia']").val(emergenciaValue); // Atualiza o valor do input
            data = { "Estado de Emergência": emergenciaValue };
        }

        // Envia os dados através da solicitação AJAX
        jQuery.ajax({
            url: "{{ url_for('publish_message') }}",
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                message: JSON.stringify(data),
                topic: topic
            }),
            success: function(data) {
                console.log("Resposta da solicitação AJAX:", data);
            }
        });
    }
</script>
    
<body>
    <div class="container">
        <div class="fundo">   
            <h2>Comando Remoto</h2>
            <div class="button__container">
                <button onclick="handleClick('Servo Motor')" id="Servo Motor" class="button button--shadow">Servo Motor</button>
                <p hidden><input type="text" name="valor Servo" value="0" readonly/></p>
                <button onclick="handleClick('Estado de Emergência')" id="Estado de Emergência" class="button button--shadow">Estado de Emergência</button>
                <p hidden><input type="text" name="valor Emergencia" value="0" readonly/></p>
            </div>
        </div>
    </div>
</body>

{% endblock %}