{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="static/CSS/BemVindo.css">
    <link rel="stylesheet" href="static/CSS/bases.css">
    <link rel="stylesheet" href="static/CSS/cadastrar_atuador.css">
    <div class="card">
        <h2>Sobre Nossa Empresa</h2>
        <p>
            Bem-vindo à nossa empresa! Somos líderes no mercado, dedicados a oferecer os melhores serviços e produtos para nossos clientes. Nossa equipe é formada por profissionais altamente qualificados, comprometidos com a excelência e a inovação. Estamos sempre em busca de novas soluções para atender às necessidades dos nossos clientes e superar suas expectativas.
        </p>
        <p>
            Nosso compromisso também está voltado para o bem-estar da população através de projetos inovadores. Um dos nossos projetos mais importantes envolve a utilização de sensores e atuadores para monitorar barragens e prevenir possíveis alagamentos. Este projeto visa garantir a segurança das comunidades próximas, evitando desastres naturais e promovendo a tranquilidade e o desenvolvimento sustentável.
        </p>
    </div>
{% endblock %}
