{% extends "base.html" %}
{% block title %} <title>Adicionar Sensores</title> {% endblock %}
{%block content%}
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" /> 
<body>
    <div class="container">
        <div class="fundo">
            <h2>Cadastrar Sensores</h2>
            <form action = "http://localhost:8080/sensor_adicionar" method = "post">
                <div class="input-box">
                    <p><input type = "text" name = "tipo" placeholder="tipo" required/></p>
                </div>
                <div class="input-box">
                    <p><input type = "text" name = "modelo" placeholder="modelo" required/></p>
                </div>
                <p><input type = "submit" value = "Cadastrar" /></p>
            </form>
        </div>
    </div>
</body>
{%endblock%}