{% extends "base.html" %}
{% block title %} <title>Alterar Sensores</title> {% endblock %}
{%block content%}
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" /> 
<body>
    <div class="container">
        <div class="fundo">
            <h2>Alterar Sensores</h2>
            <form action = "http://localhost:8080/sensor_atualizar" method = "post">
                {%for sensor in sensor%}
                    <p>id:</p>
                    <p class="input-box"><input type = "text" name = "id" value= "{{sensor.id}}" readonly/></p>
                    <p>Nome:</p>
                    <p class="input-box"><input type = "text" name = "nome" value= "{{sensor.nome}}" required/></p>
                    <p>Marca:</p>
                    <p class="input-box"><input type = "text" name = "marca" value='{{sensor.marca}}'/></p>
                    <p>Modelo:</p>
                    <p class="input-box"><input type = "text" name = "modelo" value='{{sensor.modelo}}'/></p>
                    <p>Unidade de Medida:</p>
                    <p class="input-box"><input type = "text" name = "unidade" value='{{sensor.unidade}}'/></p>
                    <p>Tópico MQTT:</p>
                    <p class="input-box"><input type = "text" name = "topico" value='{{sensor.topico}}' required/></p>
                    <div>
                        {% if sensor.status == true %}
                            <input type="checkbox" id="status" name="status" checked />
                        {% else%}
                            <input type="checkbox" id="status" name="status" unchecked />
                        {%endif%}
                        <label for="status">Ativo?</label>
                        <p><input type = "submit" value = "Alterar" /></p>
                    </div>
                {%endfor%}
            </form>
        </div>
    </div>
</body>
{%endblock%}