{% extends "base.html" %}
{%block content%}
<link rel="stylesheet" href="static/CSS/cadastrar_atuador.css" /> 
<body>
    <div class="container">
        <div class="fundo">
            <h2>Alterar Usuários</h2>
            <form action = "http://localhost:8080/user_atualizar" method = "post">
                    <p class="input-box"><input type = "text" name = "id" value= "{{usuarios.id}}" readonly hidden/></p>
                    <p>Nome:</p>
                    <p class="input-box"><input type = "text" name = "nome" value= "{{usuarios.username}}" required/></p>
                    <p>Email:</p>
                    <p class="input-box"><input type = "text" name = "email" value='{{usuarios.email}}'/></p>
                    <p>Senha:</p>
                    <p class="input-box"><input type = "text" name = "senha" value='{{usuarios.senha}}'/></p>
                    <p>Papel:</p>
                    <select name="papel">
                        {% for papel in papel %}
                        <option type = "text" name = "id" value= "{{papel.id}}">{{ papel.nome }}</option>
                        {% endfor %}
                    </select>
                    <p><input type = "submit" value = "Alterar" /></p>
            </form>
        </div>
    </div>
</body>
{%endblock%}