#view_users a {
    margin-right: 5px;
    text-decoration: none; 
    color: inherit; 
}

#view_users {
    margin-top: 20px;
    width: 80%;
    margin: 20px auto; 
    background-color: white; 
    border-collapse: collapse; 
    border: 2px solid #d7d1d1; 
}

#view_users tr {
    background-color: white; 
}

#view_users th,
#view_users td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; 
}

#view_users th {
    background-color: #68a1de;
}

#view_users tr:hover {
    background-color: #e3e2e2; 
}

#view_users a.remove:hover {
    color: red; 
}

#view_users a.editar:hover {
    color: rgb(0, 102, 255); 
}

h1 {
    margin: 30px auto; 
    width: fit-content; 
}

@media screen and (max-width: 600px) {
    #view_users {
        width: 100%; 
    }

    #view_users th,
    #view_users td {
        padding: 5px; 
    }

    h1 {
        margin: 20px auto; 
        font-size: 24px; 
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    #view_users {
        width: 90%; 
    }
}
